VBox {
    -fx-spacing: 10;
    -fx-alignment: center;
    -fx-padding: 20;
    -fx-max-width: 450;
    -fx-background-color: #312d38;
    -fx-fill: #312d38;
}

ListView {
    -fx-pref-width: 400;
    -fx-pref-height: 150;

}

#text {
    -fx-fill: white;
}

Button {
    -fx-content-display: bottom;
    -fx-background-color: #a2a1a1;
}


